@keyframes bounce {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(10px);
    /* 下移 10px */
  }
}

body.enBody .floor_title {
  background-image: url(../img/floor/floor_title_en.png);
}

.floor_title {
  background-image: url(../img/floor/floor_title.png);
}

body.enBody .zone_type_list {
  top: 945px;
  left: 955px;
}

.zone_type_list {
  position: absolute;
  left: 970px;
  top: 926px;
  z-index: 10;
}

.zone_type_list .park_btn {
  background-image: url(../img/floor/park_btn.png);
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  width: 80px;
  height: 156px;
}

body.enBody .zone_type_list .park_btn {
  background-image: url(../img/floor/park_btn_en.png);
  width: 120px;
  height: 104px;
}

.zone_type_list .park_btn.active {
  background-image: url(../img/floor/park_btn_avtive.png);
}

body.enBody .zone_type_list .park_btn.active {
  background-image: url(../img/floor/park_btn_avtive_en.png);
  width: 120px;
  height: 104px;
}

body.enBody .zone_type_list .floor_btn {
  background-image: url(../img/floor/floor_btn_en.png);
  width: 120px;
  height: 120px;
}

.zone_type_list .floor_btn {
  background-image: url(../img/floor/floor_btn.png);
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  width: 80px;
  height: 272px;
  display: none;
}

.zone_type_list .floor_btn.active {
  display: block;
}

.nav-side {
  position: absolute;
  left: 970px;
  top: 1132px;
  z-index: 1000;
}

.nav-side>ol>li>button {
  vertical-align: middle;
  text-align: center;
  border: 3px solid #03182C;
  width: 80px;
  height: 80px;
  font-size: 36px;
  font-weight: bold;
  color: #03182C;
}

.nav-side>ol>li>button.active {
  color: #FFFFFF;
  background-color: #03182C;
}

.park_map {
  background-image: url(../img/floor/park_map.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  width: 1080px;
  height: 986px;
  position: absolute;
  left: 2px;
  top: 458px;
}

.swiper-container {
  touch-action: auto;
  width: 100%;
  height: 1000px !important;
  max-width: 100vw;
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
  top: 805px;
  position: absolute;
}

.swiper-slide {
  width: 1080px !important;
  height: 707px !important;
}

.swiper-slide>div {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  height: 707px;
  width: 1080px;
}

.swiper-slide>div>div {
  position: absolute;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

body.enBody .swiper-slide>.threef_map {
  background-image: url(../img/floor/3f_map_en.png);
}

.swiper-slide>.threef_map {
  background-image: url(../img/floor/3f_map.png);
}

.swiper-slide>.threef_map>.mark1 {
  top: 296px;
  left: 293px;
  width: 322px;
  height: 234.5px;
}

.swiper-slide>.threef_map>.threef_mark1 {
  background-image: url(../img/floor/3f_mark1.png);
  top: 0px;
  left: 245px;
}

body.enBody .swiper-slide>.twof_map {
  background-image: url(../img/floor/2f_map_en.png);
}

.swiper-slide>.twof_map {
  background-image: url(../img/floor/2f_map.png);
}

.swiper-slide>div>span {
  display: none;
  position: absolute;
  width: 448px;
  height: 389px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.swiper-slide>div>span.active {
  display: block;
  z-index: 1000;
}

.swiper-slide>.twof_map>.mark1 {
  top: 125px;
  left: 459px;
  width: 204.5px;
  height: 144.5px;
}

.swiper-slide>.twof_map>.twof_mark1 {
  background-image: url(../img/floor/2f_mark1.png);
  top: -235px;
  left: 360px;
}

.swiper-slide>.twof_map>.mark2 {
  top: 374px;
  left: 588px;
  width: 105px;
  height: 61px;
}

.swiper-slide>.twof_map>.twof_mark2 {
  background-image: url(../img/floor/2f_mark2.png);
  top: -3px;
  left: 430px;
}

body.enBody .swiper-slide>.twof_map>.mark3 {
  width: 96px;
  height: 64.5px;
}

.swiper-slide>.twof_map>.mark3 {
  top: 486px;
  left: 515px;
  width: 93.5px;
  height: 62.5px;
}

.swiper-slide>.twof_map>.twof_mark3 {
  background-image: url(../img/floor/2f_mark3.png);
  top: 100px;
  left: 345px;
}

body.enBody .swiper-slide>.twof_map>.mark4 {
  width: 133px;
  left: 431px;
}

.swiper-slide>.twof_map>.mark4 {
  top: 411px;
  left: 525px;
  width: 107px;
  height: 69.5px;
}

.swiper-slide>.twof_map>.twof_mark4 {
  background-image: url(../img/floor/2f_mark4.png);
  top: 45px;
  left: 375px;
}

.swiper-slide>.twof_map>.mark5 {
  top: 251px;
  left: 421px;
  width: 200px;
  height: 135px;
}

.swiper-slide>.twof_map>.twof_mark5 {
  background-image: url(../img/floor/2f_mark5.png);
  left: 315px;
  top: -125px;
}

.swiper-slide>.twof_map>.mark6 {
  top: 205px;
  left: 575px;
  width: 198px;
  height: 131.5px;
}

.swiper-slide>.twof_map>.twof_mark6 {
  background-image: url(../img/floor/2f_mark6.png);
  top: -160px;
  left: 475px;
}

.swiper-slide>.twof_map>.mark7 {
  top: 323px;
  left: 432px;
  width: 63.5px;
  height: 49px;
}

.swiper-slide>.twof_map>.twof_mark7 {
  background-image: url(../img/floor/2f_mark7.png);
  top: -40px;
  left: 240px;
}

.swiper-slide>.twof_map>.mark8 {
  top: 313px;
  left: 238px;
  width: 115px;
  height: 69px;
}

.swiper-slide>.twof_map>.twof_mark8 {
  background-image: url(../img/floor/2f_mark8.png);
  top: -60px;
  left: 80px;
}

body.enBody .swiper-slide>.onef_map {
  background-image: url(../img/floor/1f_map_en.png);
}

.swiper-slide>.onef_map {
  background-image: url(../img/floor/1f_map.png);
}

.swiper-slide>.onef_map>.mark1 {
  top: 337px;
  left: 177px;
  width: 128.5px;
  height: 85px;
}

.swiper-slide>.onef_map>.onef_mark1 {
  background-image: url(../img/floor/1f_mark1.png);
  top: -15px;
  left: 20px;
}

.swiper-slide>.onef_map>.mark2 {
  top: 378px;
  left: 240px;
  width: 132px;
  height: 87px;
}

.swiper-slide>.onef_map>.onef_mark2 {
  background-image: url(../img/floor/1f_mark2.png);
  top: 25px;
  left: 95px;
}

.swiper-slide>.onef_map>.mark3 {
  top: 419px;
  left: 305px;
  width: 132.5px;
  height: 89px;
}

.swiper-slide>.onef_map>.onef_mark3 {
  background-image: url(../img/floor/1f_mark3.png);
  top: 70px;
  left: 150px;
}

.swiper-slide>.onef_map>.mark4 {
  top: 462px;
  left: 371px;
  width: 188px;
  height: 123px;
}

.swiper-slide>.onef_map>.onef_mark4 {
  background-image: url(../img/floor/1f_mark4.png);
  top: 120px;
  left: 250px;
}

body.enBody .swiper-slide>.b1_map {
  background-image: url(../img/floor/b1_map_en.png);
}

.swiper-slide>.b1_map {
  background-image: url(../img/floor/b1_map.png);
}

body.enBody .swiper-slide>.b1_map>.mark1 {
  width: 170.5px;
  left: 165px;
}

.swiper-slide>.b1_map>.mark1 {
  top: 262px;
  left: 213px;
  width: 127.5px;
  height: 45px;
}

.swiper-slide>.b1_map>.b1_mark1 {
  background-image: url(../img/floor/b1_mark1.png);
  top: -115px;
  left: 50px;
}

body.enBody .swiper-slide>.b1_map>.mark2 {
  width: 91px;
  left: 303px;
}

.swiper-slide>.b1_map>.mark2 {
  top: 309px;
  left: 338px;
  width: 84.5px;
  height: 50px;
}

.swiper-slide>.b1_map>.b1_mark2 {
  background-image: url(../img/floor/b1_mark2.png);
  top: -60px;
  left: 160px;
}

body.enBody .swiper-slide>.b1_map>.mark3 {
  width: 178px;
  left: 487px;
}

.swiper-slide>.b1_map>.mark3 {
  top: 309px;
  left: 546px;
  width: 136.5px;
  height: 74px;
}

.swiper-slide>.b1_map>.b1_mark3 {
  background-image: url(../img/floor/b1_mark3.png);
  top: -50px;
  left: 395px;
}

.swiper-slide>.b1_map>.mark4 {
  top: 427px;
  left: 489px;
  width: 119.52px;
  height: 66.62px;
}

.swiper-slide>.b1_map>.b1_mark4 {
  background-image: url(../img/floor/b1_mark4.png);
  top: 65px;
  left: 340px;
}

body.enBody .swiper-slide>.b2_map {
  background-image: url(../img/floor/b2_map_en.png);
}

.swiper-slide>.b2_map {
  background-image: url(../img/floor/b2_map.png);
}

.icon_list>div {
  position: absolute;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1200;
  vertical-align: middle;
  text-align: center;
}

.icon_list>div.active>.icon {
  box-shadow: 0px 0px 10px 10px #FFFFFFBF;
}

body.enBody .icon_list>div.active>.name {
  font-size: 22px;
}

.icon_list>div.active>.name {
  font-size: 26px;
  font-weight: 900;
  color: #D35344;
}

body.enBody .icon_list>div>.name {
  font-size: 20px;
}

.icon_list>div>.name {
  position: relative;
  font-size: 24px;
  font-weight: bold;
}

.icon_list>div>.icon {
  position: relative;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}

body.enBody .icon_list>.icon_btn1 {
  left: 30px;
  top: 340px;
}

.icon_list>.icon_btn1 {
  left: 32px;
  top: 334px;
}

.icon_list>.icon_btn1>.icon {
  background-image: url(../img/floor/icon_btn1.png);
  width: 90px;
  height: 80px;
}

body.enBody .icon_list>.icon_btn2 {
  left: 177px;
  top: 340px;
}

.icon_list>.icon_btn2 {
  left: 157px;
  top: 334px;
}

.icon_list>.icon_btn2>.icon {
  background-image: url(../img/floor/icon_btn2.png);
  width: 150px;
  height: 80px;
}

body.enBody .icon_list>.icon_btn3 {
  left: 337px;
  top: 340px;
}

.icon_list>.icon_btn3 {
  left: 326px;
  top: 334px;
}

.icon_list>.icon_btn3>.icon {
  background-image: url(../img/floor/icon_btn3.png);
  width: 100px;
  height: 80px;
}

body.enBody .icon_list>.icon_btn4 {
  left: 461px;
  top: 340px;
}

.icon_list>.icon_btn4 {
  left: 450px;
  top: 334px;
}

.icon_list>.icon_btn4>.icon {
  background-image: url(../img/floor/icon_btn4.png);
  width: 100px;
  height: 80px;
}

body.enBody .icon_list>.icon_btn5 {
  left: 588px;
  top: 340px;
}

.icon_list>.icon_btn5 {
  left: 573px;
  top: 334px;
}

.icon_list>.icon_btn5>.icon {
  background-image: url(../img/floor/icon_btn5.png);
  width: 90px;
  height: 80px;
}

body.enBody .icon_list>.icon_btn6 {
  left: 703px;
  top: 340px;
}

.icon_list>.icon_btn6 {
  left: 697px;
  top: 334px;
}

.icon_list>.icon_btn6>.icon {
  background-image: url(../img/floor/icon_btn6.png);
  width: 90px;
  height: 80px;
}

body.enBody .icon_list>.icon_btn7 {
  left: 838px;
  top: 340px;
}

.icon_list>.icon_btn7 {
  left: 821px;
  top: 334px;
}

.icon_list>.icon_btn7>.icon {
  background-image: url(../img/floor/icon_btn7.png);
  width: 90px;
  height: 80px;
}

body.enBody .icon_list>.icon_btn8 {
  left: 962px;
  top: 340px;
}

.icon_list>.icon_btn8 {
  left: 945px;
  top: 334px;
}

.icon_list>.icon_btn8>.icon {
  background-image: url(../img/floor/icon_btn8.png);
  width: 90px;
  height: 80px;
}

body.enBody .icon_list>.icon_btn9 {
  left: 30px;
  top: 497px;
}

.icon_list>.icon_btn9 {
  left: 32px;
  top: 491px;
}

.icon_list>.icon_btn9>.icon {
  background-image: url(../img/floor/icon_btn9.png);
  width: 136px;
  height: 80px;
}

body.enBody .icon_list>.icon_btn10 {
  left: 202px;
  top: 497px;
}

.icon_list>.icon_btn10 {
  left: 207px;
  top: 491px;
}

.icon_list>.icon_btn10>.icon {
  background-image: url(../img/floor/icon_btn10.png);
  width: 136px;
  height: 80px;
}

body.enBody .icon_list>.icon_btn11 {
  left: 382px;
  top: 497px;
}

.icon_list>.icon_btn11 {
  left: 382px;
  top: 491px;
}

.icon_list>.icon_btn11>.icon {
  background-image: url(../img/floor/icon_btn11.png);
  width: 136px;
  height: 80px;
}

body.enBody .icon_list>.icon_btn12 {
  left: 557px;
  top: 497px;
}

.icon_list>.icon_btn12 {
  left: 557px;
  top: 491px;
}

.icon_list>.icon_btn12>.icon {
  background-image: url(../img/floor/icon_btn12.png);
  width: 90px;
  height: 80px;
}

body.enBody .icon_list>.icon_btn13 {
  left: 683px;
  top: 497px;
}

.icon_list>.icon_btn13 {
  left: 686px;
  top: 491px;
}

.icon_list>.icon_btn13>.icon {
  background-image: url(../img/floor/icon_btn13.png);
  width: 90px;
  height: 80px;
}

body.enBody .icon_list>.icon_btn15 {
  left: 830px;
  top: 497px;
}

.icon_list>.icon_btn15 {
  left: 944px;
  top: 491px;
}

.icon_list>.icon_btn15>.icon {
  background-image: url(../img/floor/icon_btn15.png);
  width: 90px;
  height: 80px;
}

body.enBody .icon_list>.icon_btn14 {
  left: 958px;
  top: 497px;
}

.icon_list>.icon_btn14 {
  left: 815px;
  top: 491px;
}

.icon_list>.icon_btn14>.icon {
  background-image: url(../img/floor/icon_btn14.png);
  width: 90px;
  height: 80px;
}

.type1,
.type2,
.type3,
.type4,
.type5,
.type6,
.type7,
.type8,
.type9,
.type10,
.type11,
.type12,
.type13,
.type14,
.type15 {
  background-image: url(../img/floor/icon_arrow.png);
  width: 89px;
  height: 100px;
  display: none;
  animation: bounce 0.8s infinite alternate;
}

.type1.active,
.type2.active,
.type3.active,
.type4.active,
.type5.active,
.type6.active,
.type7.active,
.type8.active,
.type9.active,
.type10.active,
.type11.active,
.type12.active,
.type13.active,
.type14.active,
.type15.active {
  display: block;
}

.threef_map .type1 {
  left: 300px;
  top: 190px;
}

.threef_map .type2 {
  left: 220px;
  top: 190px;
}

.threef_map .type5 {
  left: 245px;
  top: 225px;
}

.threef_map .type14 {
  left: 365px;
  top: 315px;
}

.threef_map .type15 {
  left: 200px;
  top: 275px;
}

.twof_map .type1 {
  left: 420px;
  top: 235px;
}

.twof_map .type2 {
  left: 690px;
  top: 360px;
}

.twof_map .type4 {
  left: 505px;
  top: 405px;
}

.twof_map .type5 {
  left: 295px;
  top: 175px;
}

.twof_map .type6 {
  left: 375px;
  top: 235px;
}

.twof_map .type6_target {
  background-image: url(../img/floor/target.png);
  width: 27px;
  height: 41px;
  left: 405px;
  top: 320px;
}

.twof_map .type7 {
  left: 680px;
  top: 315px;
}

.twof_map .type13 {
  left: 110px;
  top: 255px;
}

.twof_map .type14.first {
  left: 430px;
  top: 280px;
}

.twof_map .type14.second {
  left: 625px;
  top: 340px;
}

.twof_map .type15.first {
  left: 170px;
  top: 220px;
}

.twof_map .type15.second {
  left: 255px;
  top: 235px;
}

.twof_map .type15.third {
  left: 425px;
  top: 350px;
}

.onef_map .type1 {
  left: 520px;
  top: 335px;
}

.onef_map .type2 {
  left: 265px;
  top: 235px;
}

.onef_map .type3 {
  left: 295px;
  top: 235px;
}

.onef_map .type4 {
  left: 315px;
  top: 275px;
}

/* .onef_map .type6 {
  left: 430px;
  top: 375px;
}

.onef_map .type6_target {
  background-image: url(../img/floor/target.png);
  width: 27px;
  height: 41px;
  left: 460px;
  top: 460px;
} */

.onef_map .type7 {
  left: 335px;
  top: 270px;
}

.onef_map .type13 {
  left: 640px;
  top: 360px;
}

.onef_map .type14.first {
  left: 385px;
  top: 265px;
}

.onef_map .type14.second {
  left: 585px;
  top: 325px;
}

.onef_map .type15.first {
  left: 130px;
  top: 205px;
}

.onef_map .type15.second {
  left: 420px;
  top: 335px;
}

.b1_map .type1 {
  left: 220px;
  top: 175px;
}

.b1_map .type2 {
  left: 580px;
  top: 310px;
}

.b1_map .type8 {
  left: 540px;
  top: 370px;
}

.b1_map .type9.first {
  left: 505px;
  top: 340px;
}

.b1_map .type9.second {
  left: 560px;
  top: 310px;
}

.b1_map .type10 {
  left: 565px;
  top: 230px;
}

.b1_map .type11 {
  left: 335px;
  top: 225px;
}

.b1_map .type12 {
  left: 465px;
  top: 85px;
}

.b1_map .type15 {
  left: 125px;
  top: 220px;
}

.b1_map .type14 {
  left: 620px;
  top: 375px;
}

.b2_map .type8 {
  left: 540px;
  top: 370px;
}

.b2_map .type14 {
  left: 580px;
  top: 340px;
}

.b2_map .type15 {
  left: 125px;
  top: 220px;
}

.park_map .mark1 {
  position: absolute;
  height: auto;
  width: 145.15px;
  left: 428px;
  top: 567px;
}

.park_map .mark2 {
  position: absolute;
  height: auto;
  width: 87.27px;
  left: 664px;
  top: 244px;
  z-index: 2;
}

.park_map .mark3 {
  position: absolute;
  height: 73.84px;
  width: auto;
  left: 627px;
  top: 553px;
}

.park_map .mark4 {
  position: absolute;
  height: auto;
  width: 135.37px;
  left: 503px;
  top: 657px;
}

.park_map .mark5 {
  position: absolute;
  height: auto;
  width: 165.76px;
  left: 705px;
  top: 178px;
}

.park_map .mark6 {
  position: absolute;
  width: 70.9px;
  height: 276.3px;
  left: 478px;
  top: 186px;
}

.park_area>.park_map>.park_mark1 {
  background-image: url(../img/floor/park_mark1.png);
  top: 195px;
  left: 337px;
}

.park_area>.park_map>.park_mark2 {
  background-image: url(../img/floor/park_mark2.png);
  top: -135px;
  left: 490px;
}

.park_area>.park_map>.park_mark3 {
  background-image: url(../img/floor/park_mark3.png);
  top: 190px;
  left: 495px;
}

.park_area>.park_map>.park_mark4 {
  background-image: url(../img/floor/park_mark4.png);
  top: 340px;
  left: 400px;
}

.park_area>.park_map>.park_mark5 {
  background-image: url(../img/floor/park_mark5.png);
  top: -50px;
  left: 570px;
}

.park_area>.park_map>.park_mark6 {
  background-image: url(../img/floor/park_mark6.png);
  top: -130px;
  left: 270px;
}

.park_area>.park_map>span.active {
  display: block;
  z-index: 1000;
}

.park_area>.park_map>span {
  display: none;
  position: absolute;
  width: 448px;
  height: 389px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

svg * {
  fill: transparent;
}

svg {
  pointer-events: none;
}