a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  border: 0;
  font-size: 100%;
  font-weight: inherit;
  margin: 0;
  padding: 0;
  vertical-align: initial;
}

body {
  font-family: "Noto Serif TC", serif;
}

button {
  background-color: initial;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

.zh-TW-show,
.content.active,
.media_main.active,
.media_cast.active,
.media_picture.active,
.media_video.active,
body.enBody .en-show {
  display: block;
}

.en-show,
body.enBody .zh-TW-show,
.media_main,
.media_cast,
.media_picture,
.media_video,
.mask.hidden,
.content_body>div {
  display: none;
}

.logo_area {
  height: 220px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-color: #D35344;
  border-bottom-width: 10px;
  border-bottom-style: inset;
}

.logo {
  background-image: url(../img/icon/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 738px;
  height: 120px;
}

.button_area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.page_list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-left: 50px;
}

.page_list>div {
  width: 100px;
  height: 100px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.page_list .ai_page {
  background-image: url(../img/icon/ai_page.png);
}

.page_list .ai_page.active {
  background-image: url(../img/icon/ai_page_active.png);
}

.page_list .floor_page {
  background-image: url(../img/icon/floor_page.png);
}

.page_list .floor_page.active {
  background-image: url(../img/icon/floor_page_active.png);
}

.page_list .transportation_page {
  background-image: url(../img/icon/transportation_page.png);
}

.page_list .transportation_page.active {
  background-image: url(../img/icon/transportation_page_active.png);
}

.page_list .store_page {
  background-image: url(../img/icon/store_page.png);
}

.page_list .store_page.active {
  background-image: url(../img/icon/store_page_active.png);
}

.page_list .media_page {
  background-image: url(../img/icon/media_page.png);
}

.page_list .media_page.active {
  background-image: url(../img/icon/media_page_active.png);
}

.lang_list,
.content_body .display {
  display: flex;
}

.zh-TW {
  background-image: url(../img/icon/chinese.png);
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  margin-right: 30px;
}

.zh-TW.active {
  background-image: url(../img/icon/chinese_active.png);
}

.english {
  background-image: url(../img/icon/english.png);
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  margin-right: 50px;
}

.english.active {
  background-image: url(../img/icon/english_active.png);
}

.content {
  height: 1525px;
  display: none;
  background: linear-gradient(to bottom, #F3F9F8 00%, #768B9E 100%);
  padding-top: 20px;
}

.transportation  .subcontent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.title {
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  width: 1080px;
  height: 140px;
}