body.enBody .store_title {
  background-image: url(../img/store/store_title_en.png);
}

.store_title {
  background-image: url(../img/store/store_title.png);
}

.store .subcontent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body.enBody .store .map {
  background-image: url(../img/store/map_en.png);
}

.store .map {
  background-image: url(../img/store/map.png);
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  width: 1080px;
  aspect-ratio: 1080 / 852;
  margin-top: 30px;
}

body.enBody .store .tab_list {
  width: 700px;
  flex-wrap: wrap;
  justify-content: center;
}

.store .tab_list {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 30px;
}

body.enBody .store .content_body {
  height: 497px !important;
}

.store .content_body {
  height: 444px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

body.enBody .foodTab {
  background-image: url(../img/store/food_btn_en.png);
  height: 90px;
  width: 419.2px;
}

.foodTab {
  background-image: url(../img/store/food_btn.png);
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  height: 101px;
  width: 266px;
}

body.enBody .foodTab.active {
  background-image: url(../img/store/food_btn_active_en.png);
}

.foodTab.active {
  background-image: url(../img/store/food_btn_active.png);
}

body.enBody .parkTab {
  background-image: url(../img/store/park_btn_en.png);
  height: 90px;
  width: 195.2px;
}

.parkTab {
  background-image: url(../img/store/park_btn.png);
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  height: 101px;
  width: 182px;
}

body.enBody .parkTab.active {
  background-image: url(../img/store/park_btn_active_en.png);
}

.parkTab.active {
  background-image: url(../img/store/park_btn_active.png);
}

.foodArea {
  background-image: url(../img/store/food_area.png);
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  height: 465px;
  width: 1020px;
  justify-content: center;
  align-items: center;
}

.foodArea .desc {
  position: relative;
  width: 940px;
  height: 395px;
  font-size: 48px;
  line-height: 82px;
  overflow-y: scroll;
  font-weight: 400;
}

body.enBody .foodArea .desc {
  font-size: 35px;
  line-height: 50px;
}

.foodArea .desc strong {
  font-weight: 700;
}

.foodArea .arrow {
  margin-bottom: -350px;
  display: block;
  position: absolute;
}

body.enBody .parkArea {
  background-image: url(../img/store/park_area_en.png);
  height: 497px;
}

.parkArea {
  background-image: url(../img/store/park_area.png);
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  height: 444px;
  width: 1020px;
}