/* 顯示 table_container 的 scrollbar 並美化 */
.table_container {
  overflow: auto !important;
}

/* 美化 scrollbar (可依需求調整) */
.table_container::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.table_container::-webkit-scrollbar-thumb {
  background: #bbb;
  border-radius: 4px;
}

.table_container::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

body.enBody .transportation_title {
  background-image: url(../img/transportation/transportation_title_en.png);
}

.transportation_title {
  background-image: url(../img/transportation/transportation_title.png);
}

body.enBody .transportation .map {
  background-image: url(../img/transportation/map_en.png);
}

.transportation .map {
  background-image: url(../img/transportation/map.png);
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  width: 978px;
  height: 640px;
  margin-top: 29px;
}

body.enBody .transportation .tab_list {
  width: 1021px;
  justify-content: center;
}

.transportation .tab_list {
  margin-top: 25px;
  display: flex;
  align-items: center;
}

body.enBody .transportation .tab_list>button:not(:first-of-type) {
  margin-left: 25px;
}

.transportation .tab_list>button:not(:first-of-type) {
  margin-left: 30px;
}

body.enBody .longBusTab {
  background-image: url(../img/transportation/long_bus_tab_en.png);
  width: 395.2px;
  height: 88px;
}

.longBusTab {
  background-image: url(../img/transportation/long_bus_tab.png);
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  height: 90px;
  width: 266px;
}

body.enBody .longBusTab.active {
  background-image: url(../img/transportation/long_bus_tab_active_en.png);
}

.longBusTab.active {
  background-image: url(../img/transportation/long_bus_tab_active.png);
}

body.enBody .mrtTab {
  background-image: url(../img/transportation/mrt_tab_en.png);
  height: 88px;
  width: 166px;
}

.mrtTab {
  background-image: url(../img/transportation/mrt_tab.png);
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  height: 90px;
  width: 171px;
}

body.enBody .mrtTab.active {
  background-image: url(../img/transportation/mrt_tab_active_en.png);
}

.mrtTab.active {
  background-image: url(../img/transportation/mrt_tab_active.png);
}

body.enBody .shortBusTab {
  background-image: url(../img/transportation/short_bus_tab_en.png);
  height: 88px;
  width: 160px;
}

.shortBusTab {
  background-image: url(../img/transportation/short_bus_tab.png);
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  height: 90px;
  width: 176px;
}

body.enBody .shortBusTab.active {
  background-image: url(../img/transportation/short_bus_tab_active_en.png);
}

.shortBusTab.active {
  background-image: url(../img/transportation/short_bus_tab_active.png);
}

body.enBody .driveTab {
  background-image: url(../img/transportation/drive_tab_en.png);
  width: 225px;
  height: 88px;
}

.driveTab {
  background-image: url(../img/transportation/drive_tab.png);
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  height: 90px;
  width: 260px;
}

body.enBody .driveTab.active {
  background-image: url(../img/transportation/drive_tab_active_en.png);
}

.driveTab.active {
  background-image: url(../img/transportation/drive_tab_active.png);
}

body.enBody .content_body {
  height: 660px;
}

.content_body {
  margin-top: 25px;
  height: 750px;
  width: 100%;
}

.long_bus_area {
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
}

.long_bus_area .table_container {
  max-height: 700px;
  overflow-y: scroll;
}

table {
  border-collapse: collapse;
}

.long_bus_area table {
  width: 997px;
  height: 691px;
  text-align: center;
}

.long_bus_area table thead {
  position: sticky;
  top: 0;
}

.long_bus_area table thead th {
  border: 1px solid #03182C;
  border-top-width: 0px;
  width: 499px;
  height: 71px;
  background-color: #03182C;
  font-size: 30px;
  font-weight: bold;
  vertical-align: middle;
  text-align: center;
}

.long_bus_area table thead .header1 {
  color: #FFFFFF;
}

.long_bus_area table thead .header2 {
  color: #6CCAC8;
}

.long_bus_area table thead .header3 {
  color: #D35344;
}

.long_bus_area table tbody td {
  width: 499px;
  height: 61px;
  color: #000000;
  vertical-align: middle;
  font-size: 24px;
  font-weight: bold;
  border: 1px solid #03182C;
  background-color: #F3F9F8;
}

body.enBody .long_bus_area .desc {
  margin-top: 18px;
  font-size: 24px;
  width: 824px;
}

.long_bus_area .desc {
  margin-top: 30px;
  font-weight: bold;
  font-size: 22px;
  text-align: center;
}

.mrt_area {
  display: flex;
  justify-content: center;
  align-items: end;
}

body.enBody .mrt_area .table_container {
  width: 959px;
  max-height: 755px;
  border-collapse: collapse;
  overflow-y: scroll;
}

.mrt_area .table_container {
  width: 997px;
  max-height: 730px;
  border-collapse: collapse;
}

.mrt_area .table-metro .table-purple {
  height: 71px;
  background-color: #03182C;
  color: #FFFFFF;
}

body.enBody .mrt_area .table-metro .a8 {
  height: 129px;
}

.mrt_area .table-metro .a8 {
  height: 60px;
}

body.enBody .mrt_area .table-metro .a9 {
  height: 279px;
}

.mrt_area .table-metro .a9 {
  height: 158px;
}

body.enBody .mrt_area .table-metro .a10 {
  height: 107px;
}

.mrt_area .table-metro .a10 {
  height: 60px;
}

body.enBody .mrt_area .table-metro .a11 {
  height: 107px;
}

.mrt_area .table-metro .a11 {
  height: 60px;
}

body.enBody .mrt_area .table-metro .a12 {
  height: 163px;
}

.mrt_area .table-metro .a12 {
  height: 100px;
}

body.enBody .mrt_area .table-metro .y19 {
  height: 107px;
}

.mrt_area .table-metro .y19 {
  height: 60px;
}

.mrt_area .table-metro .table-blue {
  height: 56px;
  background-color: #03182C;
  color: #FFFFFF;
}

.mrt_area .table-metro .table-yellow {
  height: 64px;
  background-color: #03182C;
  color: #FFFFFF;
}

.mrt_area .table-metro .table-purple,
.mrt_area .table-metro .table-blue,
.mrt_area .table-metro .table-yellow {
  font-size: 30px;
  font-weight: bold;
}

.mrt_area .table-metro .table-purple th,
.mrt_area .table-metro .table-blue th,
.mrt_area .table-metro .table-yellow th {
  text-align: center;
  vertical-align: middle;
}

.mrt_area .table-metro tbody td,
.mrt_area .table-metro tbody th {
  border: 1px solid #03182C;
}

.mrt_area .table-metro tbody td {
  background-color: #F3F9F8;
}

body.enBody .mrt_area .table-metro tbody tr td:first-of-type {
  font-size: 20px;
}

.mrt_area .table-metro tbody tr td:first-of-type {
  font-size: 24px;
  font-weight: bold;
  width: 230px;
  text-align: center;
  vertical-align: middle;
}

.mrt_area .table-metro tbody tr td:last-of-type {
  padding-left: 14px;
  font-size: 22px;
  vertical-align: middle;
}

.mrt_area .table-metro tbody tr td:last-of-type strong {
  font-weight: bold;
}

.mrt_area .table-metro tbody tr td:last-of-type p {
  line-height: 30px;
}

.short_bus_area {
  display: flex;
  justify-content: center;
  align-items: end;
}

body.enBody .short_bus_area .table_container {
  max-height: 775px;
  overflow-y: scroll;
}

.short_bus_area .table_container {
  max-height: 736px;
  border-collapse: collapse;
  text-align: center;
}

body.enBody .short_bus_area table thead th.name {
  width: 257px;
}

body.enBody .short_bus_area table thead th.time {
  width: 254px;
}

.short_bus_area table thead th.name,
.short_bus_area table thead th.time {
  width: 232px;
}

body.enBody .short_bus_area table thead th.path {
  width: 449px;
}

.short_bus_area table thead th.path {
  width: 531px;
}

body.enBody .short_bus_area table tbody td.name_1 {
  height: 181px;
}

.short_bus_area table tbody td.name_1 {
  height: 88px;
}

body.enBody .short_bus_area table tbody td.name_2 {
  height: 216px;
}

.short_bus_area table tbody td.name_2 {
  height: 138px;
}

body.enBody .short_bus_area table tbody td.name_3 {
  height: 119px;
}

.short_bus_area table tbody td.name_3 {
  height: 67px;
}

body.enBody .short_bus_area table tbody td.name_4 {
  height: 181px;
}

.short_bus_area table tbody td.name_4 {
  height: 88px;
}

body.enBody .short_bus_area table tbody td.name_5 {
  height: 216px;
}

.short_bus_area table tbody td.name_5 {
  height: 138px;
}

body.enBody .short_bus_area table tbody td.name_6 {
  height: 216px;
}

.short_bus_area table tbody td.name_6 {
  height: 138px;
}

.short_bus_area table thead th {
  border: 1px solid #03182C;
  height: 71px;
  background-color: #03182C;
  color: white;
  font-size: 30px;
  font-weight: bold;
  vertical-align: middle;
  text-align: center;
}

.short_bus_area table tbody td {
  color: #000000;
  vertical-align: middle;
  font-size: 24px;
  font-weight: bold;
  border: 1px solid #0E3963;
  background-color: #F3F9F8;
}

.drive_area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.drive_area div {
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

body.enBody .drive_area .sourthBlock {
  background-image: url(../img/transportation/sourth_en.png);
  height: 334px;
}

.drive_area .sourthBlock {
  background-image: url(../img/transportation/sourth.png);
  width: 1020px;
  height: 252px;
  margin-bottom: 30px;
}

body.enBody .drive_area .northBlock {
  background-image: url(../img/transportation/north_en.png);
  height: 343px;
}

.drive_area .northBlock {
  background-image: url(../img/transportation/north.png);
  width: 1020px;
  height: 268px;
}

body.enBody .arrow {
  display: block;
  position: absolute;
}

.arrow {
  display: none;
  width: 32px;
  height: 46px;
  background-image: url(../img/transportation/arrow.png);
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  animation: bounce 0.8s infinite alternate;
}

.long_bus_area .arrow {
  margin-bottom: 100px;
  display: block;
  position: absolute;
}